* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /*END of CSS reset*/

  #root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    font-family: Poppins;
    justify-content: center;
  }

  #root .card {
      flex-grow: 1;
/*    flex-basis: calc(30% - 10px); */      
      flex: 30%;
      /* flex-basis: 30%; */
      padding: 10px;
      margin: 15px;
      background-color: white;
      border-radius: 10px;
      /* border: 1px solid rgb(148, 148, 148); */
      box-shadow: 6px 6px 20px rgb(148, 148, 148);
      text-align: center;
  }

  .card h2 {
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
      color: teal;
  }

  .card time {
      font-size: 16px;
      font-weight: 600;
  }

  .rate {
    font-size: 16px;
    font-weight: 600;
}